<div style="background: #ECECEC;">
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="24">
      <nz-card nzTitle="Dados pessoais">
          <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="12">
              <nz-form-item>
                <nz-form-control nzErrorTip="Campo obrigatório">
                  <input
                    nz-input
                    placeholder="Primeiro nome"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
              <nz-form-item>
                <nz-form-control nzErrorTip="Campo obrigatório">
                  <input
                    nz-input
                    placeholder="Último nome"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="4">
              <nz-form-item>
                <nz-form-control nzErrorTip="Campo obrigatório">
                  <input
                    nz-input
                    placeholder="cpf"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="4">
              <nz-form-item>
                <nz-form-control nzErrorTip="Campo obrigatório">
                  <nz-date-picker nzShowToday="false" nzPlaceHolder="Data Nascimento"  style="width: 100%;" nzFormat="dd/MM/yyyy"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
              <nz-form-item>
                <nz-form-control nzErrorTip="Campo obrigatório">
                  <input
                    nz-input
                    placeholder="e-mail"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
              <nz-form-item>
                <nz-form-control nzErrorTip="Campo obrigatório">
                  <input
                    nz-input
                    placeholder="Confirma e-mail"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-control nzErrorTip="Campo obrigatório">
                <input
                  nz-input
                  placeholder="Telefone"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-input-group>
                <nz-select nzPlaceHolder="Selecione o Plano" style="width: 100%;" class="nz-select" ngModel="lucy">
                  <nz-option nzValue="jack" nzLabel="Amil dental"></nz-option>
                  <nz-option nzValue="lucy" nzLabel="Interodonto"></nz-option>
                  <nz-option nzValue="disabled" nzLabel="Particular"></nz-option>
                </nz-select>
              </nz-input-group>
            </nz-form-item>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
</div>
