<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home">Home</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/cadastro-paciente">Cadastro Paciente</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Cadastro Dentista</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div style="width: 20px">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        </div>
        <div style="position: absolute;top: 0; right: 27px;">
          <ul nz-menu nzMode="horizontal">
            <li nz-submenu nzIcon="setting">
              <ul class="ant-menu-sub2">
                <li nz-menu-item>Meu perfil</li>
                <li nz-menu-item>Sair</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div style="background: #ffffff; width: 100%;margin-bottom: 15px;padding: 24px;">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col class="gutter-row" [nzSpan]="24">
            <div class="site-page-header-ghost-wrapper">
              <nz-page-header>
                <nz-page-header-title>BEM VINDO</nz-page-header-title>
                <nz-page-header-subtitle>RAFAEL NOBERTO</nz-page-header-subtitle>
                <nz-page-header-extra>
                  <button nz-button>Operation</button>
                  <button nz-button>Operation</button>
                  <button nz-button nzType="primary">Primary</button>
                </nz-page-header-extra>
                <nz-page-header-content>
                  <nz-descriptions nzSize="small" [nzColumn]="3">
                    <nz-descriptions-item nzTitle="USUÁRIO" [nzSpan]="1">RAFAEL NOBERTO</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Association" [nzSpan]="1"><a>421421</a></nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Creation Time" [nzSpan]="1">2017-01-10</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Effective Time" [nzSpan]="1">2017-10-10</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Remarks" [nzSpan]="2">
                      Gonghu Road, Xihu District, Hangzhou, Zhejiang, China
                    </nz-descriptions-item>
                  </nz-descriptions>
                </nz-page-header-content>
              </nz-page-header>
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer style="text-align: center">Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
