<div style="background: #ffffff; width: 100%;margin-bottom: 15px;">
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col [nzSpan]="24">
      <div>
        <nz-page-header>
          <nz-avatar class="icon-style" nz-page-header-avatar nzIcon="user"></nz-avatar>
          <nz-page-header-title>ANAMNESE</nz-page-header-title>
           <nz-page-header-extra *ngIf="!isUsuario">
             <button  nz-button nzType="primary">Salvar</button>
           </nz-page-header-extra>
          <nz-page-header-content>
            <nz-descriptions *ngIf="!isUsuario" nzSize="small" [nzColumn]="2">
              <nz-descriptions-item nzTitle="Paciente" [nzSpan]="1">RAFAEL NOBERTO DE FRANÇA</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Documento" [nzSpan]="1"><a>33804632807</a></nz-descriptions-item>
              <nz-descriptions-item nzTitle="Tipo" [nzSpan]="1">Convênio</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Plano" [nzSpan]="1">Interodônto</nz-descriptions-item>
            </nz-descriptions>
            <nz-row *ngIf="isUsuario" nzType="flex">
              <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="24">
                  <form nz-form [nzLayout]="'inline'">
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please input your username!">
                        <nz-input-group>
                          <input  nz-input placeholder="cpf" />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-control>
                        <button (click)="teste()" nz-button nzType="primary" nzShape="circle"><i nz-icon nzType="search"></i></button>
                      </nz-form-control>
                    </nz-form-item>
                  </form>
                </div>
              </div>
            </nz-row>
          </nz-page-header-content>
        </nz-page-header>
      </div>
    </div>
  </div>
</div>

<app-ficha-avaliacao-orofacial *ngIf="!isUsuario"></app-ficha-avaliacao-orofacial>

