<div style="background: #ffffff; width: 100%;margin-bottom: 15px;">
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col [nzSpan]="24">
      <div>
        <nz-page-header>
          <nz-avatar class="icon-style" nz-page-header-avatar nzIcon="user"></nz-avatar>
          <nz-page-header-title>CADASTRO PACIENTE</nz-page-header-title>
          <nz-page-header-extra>
            <button class="btn-primary-success" nz-button nzType="primary">
              <i nz-icon nzType="search"></i>
              Search
            </button>
          </nz-page-header-extra>
        </nz-page-header>
      </div>
    </div>
  </div>
</div>
<div class="inner-content">
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col [nzSpan]="24">
      <nz-tabset nzType="card">
        <form>
          <nz-tab [nzTitle]="'Informações'">
            <app-informacao [tipoUsuario]="'PACIENTE'"></app-informacao>
          </nz-tab>
          <nz-tab [nzTitle]="'Endereço'">
            <app-endereco></app-endereco>
          </nz-tab>
          <nz-tab [nzTitle]="'Foto'">
          <app-imagem></app-imagem>
          </nz-tab>
        </form>
      </nz-tabset>
    </div>
  </div>
</div>
